<div class="container">
  <div class="row">
   <div class="mt-3 mb-3">
  <headline><%= @customer.full_name %>さんの会員詳細</headline>
   </div>
  </div>
</div>
<%= form_with model: @customers do |f| %>
<div class="container">
  <div class="row justify-content-center">
<div class="col-3">会員id</div>
   <div class="col-9">
     <%= @customer.id %>
   </div>
<div class="col-3">氏名</div>
   <div class="col-9">
     <%= @customer.full_name %>
   </div>
<div class="col-3">フリガナ</div>
   <div class="col-9">
     <%= @customer.full_name_kana %>
   </div>
<div class="col-3">郵便番号</div>
   <div class="col-9">
     <%= @customer.postal_code %>
   </div>
<div class="col-3">住所</div>
   <div class="col-9">
     <%= @customer.address %>
   </div>
<div class="col-3">電話番号</div>
   <div class="col-9">
     <%= @customer.telephon_number%>
   </div>
<div class="col-3">メールアドレス</div>
   <div class="col-9">
     <%= @customer.email %>
  </div>
<div class="col-3">会員ステータス</div>
   <div class="col-9">
  <% if @customer.is_deleted %>
  退会
  <% else %>
  有効
  <% end %>
  <% end %>
</div>
</div>
<%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-lg btn-success" %>

<%= link_to "注文履歴一覧を見る", edit_admin_customer_path(@customer), class: "btn btn-lg btn-primary" %>
</div>


