<div class="container">
  <div class="mt-5 mb-5">
    <headline>注文履歴詳細</headline>
  </div>
</div>
<%= form_with model: @order do |f| %>
<div class="container">
  <div class="row justify-content-center">
<div class="col-3">購入者</div>
   <div class="col-9">
     <%= @customer.full_name %>
   </div>
<div class="col-3">注文日</div>
   <div class="col-9">
     <%= l @order. created_at, format: :short %>
   </div>
<div class="col-3">配送先</div>
   <div class="col-9">
     <%= @address.address%>
   </div>
<div class="col-3">支払い方法</div>
   <div class="col-9">
     <%= @order.payment_method %>
  </div>
<div class="col-3">注文ステータス</div>
   <div class="col-9">
  <% if @order.status %>
  退会
  <% else %>
  有効
  <% end %>
  <% end %>

  <table class="table" align="center">
   <thead>
    <tr bgcolor="#f5f5f5">
    <th>商品名</th><th>単価（税込）</th>
   <th>数量</th><th>小計</th><th>制作ステータス</th>
  </tr>
 </thead>
<tbody>
  <td><%= item.name %></td>
   <td><%= @item.with_tax_price %>円</td>
    <td><%= order_detail.amount %></td>
  </tbody>