<div class="container">
  <div class="mt-5 mb-5">
    <headline>配送先登録 / 一覧</headline>
  </div>
<table class="table table-borderless">
  <%= form_with model: @address, url: addresses_path do |f| %>
    <tr>
      <td>郵便番号(ハイフン無し)</td>
      <td><%= f.text_field :postal_code, class: "col-auto", autofocus: true, autocomplete: "postal_code" %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, class: "col-auto", autofocus: true, autocomplete: "address" %></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name, class: "col-auto", autofocus: true, autocomplete: "name" %></td>
    </tr>
    <% end %>
  </table>
  <div class="text-right">
  <%= link_to "新規登録", addresses_path(@addresses), class: "btn btn-success " %>
  </div>
  <table class="table table-bordered">
    <% @addresses.each do |address| %>
    <tr>
      <td>郵便番号</td>
      <td><%= @address.postal_code %></td>
    </tr>
    <% end %>
  </table>
</div>
