<div class="container">
  <div class="mt-5 mb-5">
    <headline>注文情報確認</headline>
  <table class="table">
    <thead>
<tr bgcolor="#f5f5f5">
 <th>商品名</th><th>単価(税込)</th>
  <th>数量</th><th>小計</th>
   </tr>
    </thead>
    <% @cart_items.each do |cart_item| %>
  <tr>
 <td><%= item.name %></td>
<td><%= cart_item.item.with_tax_price %></td>
 <td><%= form_with model: @cart_items do |f| %>
  <%= f.select :amount, *[1..20],{ include_blank: ''} %>
   </td>
   <% end %>
    <td><%= cart_item.subtotal %></td>
   </tr>
  <% end %>
  </table>
</div>