<div class="container">
    <div class="mt-5 mb-5">
      <headline>注文履歴詳細</headline>
    </div>
    <strong>注文情報</strong>
    <div class="row"></div>
    <div class="col"></div>
<table class="table-bordered" align="left">
  <% @orders.each do |order| %>
  <tr>
    <thead>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
      <tr>
    <td>配送先</td>
    <td><%= order.address %></td>
      </tr>
        <tr>
          <td>支払い方法</td>
          <%= order.payment_method %>
        </tr>
      <td>電話番号</td>
      <td><%= order.telephone_number %></td>
  </tr>
    </thead>
</table>
<strong>請求情報</strong>
  <table class="table-bordered">
    <tr>
      <thead>
        <tr>
          <td>商品合計</td>
          <td></td>
        </tr>
      <tr>
    <td>配送料</th>
  </tr>
<tr>
  <td>ご請求額</td>
    </tr>
      </tr>
      </thead>
    </table>
</div>
 <table class="table">
 <thead>
<tr bgcolor="#f5f5f5">
 <th>商品名</th><th>単価(税込)</th>
  <th>個数</th><th>小計</th>
   </tr>
    </thead>
   <% @orders.each do |order| %>
  <tr>
 <td><%= order.name %></td>
<td><%= order.item.with_tax_price %></td>
<td><%= oeder.amount %></td>
<td><%= order.subtotal %></td>
   <% end %>