<div class="container">
  <div class="mt-5 mb-5">
    <h3><strong>商品一覧</strong></h3>(全<%= @allitems.count %>件)
     </div>
     <div class="row">
   <% @allitems.each do |item| %>
   <div class="col-3">
        <%= link_to item_path(item) do %>
        <% if item.image.attached? %>
        <%= image_tag item.image, size: "200x130" %>
        <% else %>
        <%= image_tag 'no_image', size: "200x130" %>
        <% end %>
        <% end %>
        <p><%= item.name %></p>
        <p>¥<%= item.price %></p>
        </div>
  <% end %>
  <%= paginate @allitems %>
  </div>
  </div>
