<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <% if @items.image.attached? %>
          <%= image_tag @items.image, size: "350x250" %>
            <% else %>
          <%= image_tag 'no_image', size: "200x130" %>
        <% end %>
    </div>
    <div class="col">
      <h2><%= @items.name %></h2>
    <h4><%= @items.introduction %></h4>
    ¥<%= @items.with_tax_price %>（税込）
    <%= form_with model: @cart_item, url: cart_items_path do |f| %>
    <%= f.select :amount, *[1..20],{ include_blank: '個数選択'} %>
    <%= f.hidden_field :item_id,value: @items.id %>
    <%= f.submit "カートに入れる", class: "btn btn-lg btn-success" %>
    <% end %>
    </div>
  </div>
</div>
